@page
@model RiverMonitoring.Pages.History.IndexModel
@{
    ViewData["Title"] = "History";
}

<div class="text-center m-4">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="card transparent-card">
    <div class="card-body">
        <form method="get" class="needs-validation form-inline d-flex justify-content-center w-100" novalidate>
            <div class="row w-100">
                <div class="col-md-3 mb-3">
                    <label for="stationSelect">Filter by Station</label>
                    <select asp-for="SelectedStationId" class="form-control w-100" asp-items="@(new SelectList(Model.HistoryData.Stations, "Id", "Title", Model.SelectedStationId))">
                        <option value="">All Stations</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="startDate">From</label>
                    <input type="date" asp-for="StartDate" class="form-control w-100" id="startDate" />
                </div>
                <div class="col-md-3 mb-3">
                    <label for="endDate">To</label>
                    <input type="date" asp-for="EndDate" class="form-control w-100" id="endDate" />
                </div>
                <div class="col-md-2 mb-3 d-flex align-items-end">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" asp-for="OnlyCritical" id="onlyCritical">
                        <label class="form-check-label" for="onlyCritical">
                            Only Critical Values
                        </label>
                    </div>
                </div>
                <div class="col-md-1 mb-3 d-flex align-items-end">
                    <button type="submit" class="btn btn-success w-100">Filter</button>
                </div>
            </div>
        </form>

        @if (Model.HistoryData.Measurements != null && Model.HistoryData.Measurements.Any())
        {
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Station</th>
                        <th>Timestamp</th>
                        <th>Measured Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var measurement in Model.HistoryData.Measurements)
                    {
                        <tr class="@(measurement.IsWarning ? "table-danger" : "")">
                            <td>@measurement.StationTitle</td>
                            <td>@measurement.Timestamp</td>
                            <td>@measurement.MeasuredValue</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No measurements found.</p>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
